.last-screen
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    height: auto

    .last-screen_container
        height: 500px
        min-width: 50%
        display: flex
        justify-content: flex-end
        position: relative
        padding: 76px 100px 76px 0px
        img
            width: 400px
            height: 500px
    .bg-lock
        position: absolute
        background-color: #1E1E1E
        transform: skew(-15deg)
        z-index: 1
        width: 859px
        height: 700px
        background-size: cover
        right: 569px
        padding: 20px
        .text-composition
            width: 500px
            padding-top: 10px
            position: relative
            z-index: 2
            right: 5px
            transform: skew(15deg)
            ul
                list-style: none
            li
                max-width: 72%
                margin: 35px 0px 35px 102px
                h1
                    color: #00F3F3
                    font-size: 40px
                    font-weight: 700
                h2
                    color: #EFEFEF
                    font-size: 30px
                    font-weight: 700
                p
                    color: #EFEFEF
                    font-size: 20px
                    font-weight: 700
                span
                    color: #00F3F3

.sertificat-compostion
    position: absolute
    bottom: -10%
    left: 24%
    .btn-sertificat
        width: 80px
        height: 80px
        background: #000
        border-radius: 50%
        padding: 15px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        cursor: pointer
        transition: .3s ease
        &:hover
            background: #00F3F3
        img
            width: 100%
            height: 100%
