body
    position: relative
    margin: 0
    background: #EFEFEF
.fixed-container
    position: fixed
    bottom: 70px
    right: 104px
    .massege-wrapper
        display: inline-block
        background: #fff

        border-radius: 50%
        padding: 15px 18px

        cursor: pointer
        transition: background .3s ease
        &:hover
            background: #00F3F3
        img
            width: 50px
    .active-list-wrapper
        ul
            list-style-type: none
            padding: 0
            margin: 0
            li
                margin-bottom: 20px
                a
                    img
                        border-radius: 50%
                        border: 5px solid transparent
                        width: 70px
                        &:hover
                            border: 5px solid #00F3F3
